Source: retro-tube
Maintainer: Scott Doucet <duroktar@gmail.com>
Section: x11
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/Duroktar/retro-tube
Vcs-Git: git://github.com/barak/retro-tube.git
Vcs-Browser: https://github.com/barak/retro-tube
Build-Depends: debhelper (>= 9), qmlscene,
 qt5-qmake, qtdeclarative5-dev, qml-module-qtquick-controls,
 qml-module-qtgraphicaleffects, qml-module-qtquick-dialogs,
 qml-module-qtquick-localstorage, qml-module-qtquick-window2

Package: retro-tube
Architecture: any
Provides: x-terminal-emulator
Depends: qml-module-qtquick-controls, qml-module-qtgraphicaleffects,
 qml-module-qtquick-dialogs, qml-module-qtquick-localstorage,
 qml-module-qtquick-window2, ${shlibs:Depends}, ${misc:Depends}
Description: terminal emulator which mimics old screens
 retro-tube is a terminal emulator which mimics the look and feel
 of the old cathode tube screens. It has been designed to be eye-candy,
 customizable, and reasonably lightweight.
